<!DOCTYPE html>
<html>
<head>
    <title>IP Tracker</title>
</head>
<body>
    <h2>Your IP Address:</h2>
    <p style="font-size: 22px; color: green;">{{ ip }}</p>
<iframe
    width="100%"
    height="300"
    frameborder="0" style="border:0"
    src="https://maps.google.com/maps?q={{ latitude }},{{ longitude }}&z=15&output=embed"
    allowfullscreen>
</iframe>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% else %}
        <h3>Location Info:</h3>
        <ul>
            <li><strong>City:</strong> {{ city }}</li>
            <li><strong>Region:</strong> {{ region }}</li>
            <li><strong>Country:</strong> {{ country }}</li>
            <li><strong>ISP/Org:</strong> {{ org }}</li>
            <li><strong>Timezone:</strong> {{ timezone }}</li>
            <li><strong>Latitude:</strong> {{ latitude }}</li>
            <li><strong>Longitude:</strong> {{ longitude }}</li>
        </ul>
    {% endif %}
</body>
</html>
